<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Certitication</title>
</head>
<body>
	<form action='details' method="POST" enctype='multipart/form-data'>
    <h1>4Achievers Certification Page </h1><br><br>
    Upload certification file:  <input type="file" name="a"/>
    Upload Excel file of student data: <input type="file" name="b" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
    <input type="submit"><br>
    </form>
</body>
</html>
